html, body{
	height: 100%;
    margin: 0;
    padding: 0;
	font-family: Roboto;
}

.round-btn{
	width: 0px;
	height: 0px;
	padding: 1px;
	opacity: 0;
}

.round-btn-search{
	width: 34px;
	height: 34px;
	padding: 1px;
	margin-left: 8px;
	margin-top: 8px;
}

.round-btn-main{
	width: 56px;
	height: 56px;
	padding: 1px;
	margin-right: 10px;
	margin-top: 8px;
}

.round-btn-container{
	width: 40px;
	height: 40px;

	margin-top: 8px;
}

.btn-icon{
	width: 50%;map.controls[google.maps.ControlPosition.RIGHT_TOP].push(btn_co2);
	height: 50%;
}

.loader {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    animation: spin 2s linear infinite;
	border-right: 8px solid #2196F3;
	border-top: 8px solid #4CAF50;
	border-left: 8px solid #FFEB3B;
	border-bottom: 8px solid #F44336;
	display: inline-block;
}

#splash-screen{
	padding: 48px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPElEQVQoU2P8////fwYCgJGQovfv3zPgVQRSICgoiF8RzBVYTYKZgFMRugKQQoIOR1GEzQQU6/ApACkEAK8DNbPenNtCAAAAAElFTkSuQmCC) repeat;
}

#author-title{
	color: #212121;
	font-size: 12px;
	margin-top: 8px;
}

#title-splash{
	margin-top: -80px;
	margin-right: 14px;
	color: #424242;
	font-family: Roboto;
	height: 72px;
	font-size: 72px;
	font-style: none;
	vertical-align: middle;
	display: inline-block;
}

#nav-search-box{
	height: 34px;
	width: 450px;
	font-style: normal;
	margin-top: 8px;
}

.gas-btn-img{
	width: 65%;
	height: 65%;
}

#co2-filter-btn{
	background-color: #424242;
}

#lwf-filter-btn{
	background-color: #FF5722;
}

#swf-filter-btn{
	background-color: #FF9800;
}

#co-filter-btn{
	background-color: #607D8B;
}

#no-filter-btn{
	background-color: #795548;
}

#info-btn-img{
	width: 50%;
	height: 50%;
	background-color: #2196F3;
}

#map{
	width: 100%;
	height: 100%;
}

#earthquake-filter-btn{
	background-color: #FFC107;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

